* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18pt;
    font-family: Perpetua, 'Times-New-Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
    background-color: white;
    text-align: center;
    margin-top: 2%;
}

/* Home */
main.home-header {
    h1 {
        font-size: 32pt;
    }
}

section.home-section {
    padding: 0.2rem;
}

.slideshow-container {
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1rem;
}

/* Hide the images by default */
.slide {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 8px;
    color: black;
    font-weight: bold;
    font-size: 32px;
    transition: 0.2s ease;
    border-radius: 5px;
    user-select: none;
    display: inline-block;
}

.prev {
    left: 17%;
}

.next {
    right: 17%;
}

.prev:hover, .next:hover {
    background-color: rgba(128, 128, 128, 0.3);
    text-decoration: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

/* Home: Publications */
section.home-publications {
    padding: 0.25rem;
    background-image: linear-gradient(to bottom, Purple, LavenderBlush);
    box-shadow:  0px 6px 5px 5px rgba(128, 0, 128, 0.3);
    border-radius: 10pt;
    h2 {
        padding: 2%;
        font-size: 26pt;
        margin: 1rem;
        color: white;
    }

    .publication {
        background: white;
        padding: 2%;
        margin: 1rem;
        border-radius: 10pt;
    }

    #p-doi {
        margin: 1em;
        margin-left: 0;
    }
}

/* Home: Lectures */
section.home-outreach {
    padding: 0.25rem;
    background-image: linear-gradient(to bottom, DarkSlateBlue, AliceBlue);
    box-shadow:  0px 6px 5px 5px rgba(0, 23, 128, 0.3);
    border-radius: 10pt;
    h2 {
        padding: 2%;
        font-size: 26pt;
        margin: 1rem;
        color: white;
    }

    .outreach {
        background: white;
        padding: 2%;
        margin: 1rem;
        border-radius: 10pt;
    }
}

/* Home: Lectures */
section.home-lectures {
    padding: 0.25rem;
    background-image: linear-gradient(to bottom, DarkGreen, HoneyDew);
    box-shadow:  0px 6px 5px 5px rgba(55, 128, 0, 0.3);
    border-radius: 10pt;
    h2 {
        padding: 2%;
        font-size: 26pt;
        margin: 1rem;
        color: white;
    }

    .lecture {
        background: white;
        padding: 2%;
        margin: 1rem;
        border-radius: 10pt;
    }
}

/* Article page */
main.article {
    margin: 5%;

    .elm-article {
        margin-top: 1rem;
    }

    #title {
        font-size: 28pt;
    }

    #citeas {
        font-size: 16pt;
    }

    .abstract-article {
        text-align: justify;
        margin-left: 12%;
        margin-right: 12%;
        font-size: 24pt;
    }
}
