* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Perpetua, 'Times-New-Roman', Times, serif;
}

*:not(.math) {
    font-size: 20pt;
}

body {
    background-color: white;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}

h1, h2 {
    text-align: center;
    margin-bottom: 2%;
}

div {
    margin-bottom: 2%;
}

.p5js {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}
